.normal {
    background-color: #a6a877;
    box-shadow: 5px 5px 10px #a6a877;
}

.grass {
    background-color: #77c850;
    box-shadow: 5px 5px 10px #77c850;
}

.fire {
    background-color: #ee7f30;
    box-shadow: 5px 5px 10px #ee7f30;
}

.water {
    background-color: #678fee;
    box-shadow: 5px 5px 10px #678fee;
}

.electric {
    background-color: #f7cf2e;
    box-shadow: 5px 5px 10px #f7cf2e;
}

.ice {
    background-color: #98d5d7;
    box-shadow: 5px 5px 10px #98d5d7;
}

.ground {
    background-color: #dfbf69;
    box-shadow: 5px 5px 10px #dfbf69;
}

.flying {
    background-color: #a98ff0;
    box-shadow: 5px 5px 10px #a98ff0;
}

.poison {
    background-color: #a040a0;
    box-shadow: 5px 5px 10px #a040a0;
}

.fighting {
    background-color: #bf3029;
    box-shadow: 5px 5px 10px #bf3029;
}

.psychic {
    background-color: #f65687;
    box-shadow: 5px 5px 10px #f65687;
}

.dark {
    background-color: #725847;
    box-shadow: 5px 5px 10px #725847;
}

.rock {
    background-color: #b8a137;
    box-shadow: 5px 5px 10px #b8a137;
}

.bug {
    background-color: #a8b720;
    box-shadow: 5px 5px 10px #a8b720;
}

.ghost {
    background-color: #6e5896;
    box-shadow: 5px 5px 10px #6e5896;
}

.steel {
    background-color: #b9b7cf;
    box-shadow: 5px 5px 10px #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
    box-shadow: 5px 5px 10px #6f38f6;
}

.fairy {
    background-color: #f9aec7;
    box-shadow: 5px 5px 10px #f9aec7;
}