.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
    box-shadow: 5px 5px 10px #a6a877;
}

.grass {
    background-color: #77c850;
    box-shadow: 5px 5px 10px #77c850;
}

.fire {
    background-color: #ee7f30;
    box-shadow: 5px 5px 10px #ee7f30;
}

.water {
    background-color: #678fee;
    box-shadow: 5px 5px 10px #678fee;
}

.electric {
    background-color: #f7cf2e;
    box-shadow: 5px 5px 10px #f7cf2e;
}

.ice {
    background-color: #98d5d7;
    box-shadow: 5px 5px 10px #98d5d7;
}

.ground {
    background-color: #dfbf69;
    box-shadow: 5px 5px 10px #dfbf69;
}

.flying {
    background-color: #a98ff0;
    box-shadow: 5px 5px 10px #a98ff0;
}

.poison {
    background-color: #a040a0;
    box-shadow: 5px 5px 10px #a040a0;
}

.fighting {
    background-color: #bf3029;
    box-shadow: 5px 5px 10px #bf3029;
}

.psychic {
    background-color: #f65687;
    box-shadow: 5px 5px 10px #f65687;
}

.dark {
    background-color: #725847;
    box-shadow: 5px 5px 10px #725847;
}

.rock {
    background-color: #b8a137;
    box-shadow: 5px 5px 10px #b8a137;
}

.bug {
    background-color: #a8b720;
    box-shadow: 5px 5px 10px #a8b720;
}

.ghost {
    background-color: #6e5896;
    box-shadow: 5px 5px 10px #6e5896;
}

.steel {
    background-color: #b9b7cf;
    box-shadow: 5px 5px 10px #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
    box-shadow: 5px 5px 10px #6f38f6;
}

.fairy {
    background-color: #f9aec7;
    box-shadow: 5px 5px 10px #f9aec7;
}

.pokemon {
    display: flex;
    height: 140px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    /* transition: 2s; */
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;

    /* transition: 2s; */
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;

    /* transition: 2s; */
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    /* transition: 2s; */
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;

    /* transition: 2s; */
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;

    /* transition: 2s; */
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;

    /* transition: 2s; */
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

/* Interactions */

.pokemon:hover {
    filter: contrast(1.1);
}

/* JS Styles */

/* Pokemon Aberto */

.openedPokemon {
    /* transition: 2s; */
    height: 600px;
    grid-column: 1 / 2;
    color: white;
    font-size: 0.825rem;
}

.openedPokemon header {
    text-align: center;
    width: 100%;
}

.openedPokemon .name {
    font-size: 2rem;
}

.openedPokemon .number {
    font-size: 2rem;
}

.openedPokemon img {
    margin-top: 15px;
    width: 130px;
    align-self: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.356);
}

.openedPokemon .detail {
    margin-top: 10px;
}


.openedPokemon .detail .detail-left {
    width: 100%;
}

.openedPokemon .infoUl {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    list-style: none;
}

.openedPokemon .infoUl li {
    margin: 15px 0;
}

.openedPokemon .infoUl .category {
    background-color: rgba(31, 156, 0, 0.575);
    padding: 5px;
    border-radius: 20px;
}

.openedPokemon .infoUl .category-value {
    float: right;
}

.openedPokemon .detail .progress-bars label {
    display: block;
    width: 100%;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .openedPokemon {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .openedPokemon {
        grid-column: 1 / 4;
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .openedPokemon {
        height: 650px;
        grid-column: 1 / 5;
    }

}

.clear {
    clear: both;
}
