.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon {
    display: flex;
    height: 140px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    /* transition: 2s; */
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;

    /* transition: 2s; */
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;

    /* transition: 2s; */
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    /* transition: 2s; */
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;

    /* transition: 2s; */
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;

    /* transition: 2s; */
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;

    /* transition: 2s; */
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

/* Interactions */

.pokemon:hover {
    filter: saturate(1.2) contrast(1.2);
}

/* JS Styles */

/* Pokemon Aberto */

.openedPokemon {
    /* transition: 2s; */
    height: 600px;
    grid-column: 1 / 2;
    color: white;
    font-size: 0.825rem;
}

.openedPokemon header {
    text-align: center;
    width: 100%;
}

.openedPokemon .name {
    font-size: 2rem;
}

.openedPokemon .number {
    font-size: 2rem;
}

.openedPokemon img {
    margin-top: 15px;
    width: 130px;
    height: 130px;
    align-self: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.356);
}

.openedPokemon .detail {
    margin-top: 10px;
}


.openedPokemon .detail .detail-left {
    width: 100%;
}

.openedPokemon .detail-left .infoUl {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    list-style: none;
}

.openedPokemon .detail-left .infoUl li {
    margin: 15px 0;
}

.openedPokemon .detail-left .infoUl .category {
    filter: brightness(.87);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    padding: 5px;
    border-radius: 20px;
}

.openedPokemon .detail-left .infoUl .category-value {
    float: right;
}

.openedPokemon .detail-left .infoUl .category-value span {
    text-transform: capitalize;
}

.pokemon .detail-right {
    width: 100%;
    border: 1px solid #ffffff4b;
    border-radius: 20px;
}

.openedPokemon .detail .detail-right .progress-bars {
    margin-top: 10px;
    padding: 10px;
}

.openedPokemon .detail .detail-right .progress-bars label {
    display: block;
    width: 100%;
    text-align: center;
}

.openedPokemon .detail .detail-right .progress-bars progress {
    width: 100%;
    height: 10px;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .openedPokemon {
        grid-column: 1 / 3;
    }

    .pokemon .detail img {
        max-width: 70px;
        height: 70px;

    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .openedPokemon {
        grid-column: 1 / 4;
        font-size: 1rem;
        height: 564px;
    }

    .openedPokemon img {
        width: 170px;
        border-radius: 0;
        background: none;
    }

    .openedPokemon .detail {
        height: 340px;
    }

    .openedPokemon .detail-right .progress-bars {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }

    .openedPokemon .detail-right .progress-bars div {
        width: 50%;
        margin: 0 5px;
    }

    .openedPokemon .detail-right .progress-bars progress {
        height: 0px;
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .openedPokemon {
        height: 650px;
        grid-column: 1 / 5;
    }

}

.clear {
    clear: both;
}
